<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-user-profile [userProfile]="userProfileData" *ngIf="!editProfileStatus; else editProfile"
    (editProfile)="editProfileToggle()"></app-user-profile>
  <ng-template #editProfile>
    <app-edit-profile (cancelEditProfile)="editProfileToggle()" (updateProfileData)="updateProfile($event)">
    </app-edit-profile>
  </ng-template>
</ion-content>